* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}

body {
    font-family: "Inter", sans-serif;
    text-align: center;
}

.pokemon-container {
    margin: 3rem;
    padding: 2rem;
    border: 2px solid #777;
}

.topic {

    display: inline-flex;
    align-items: baseline;
    width: 100%;
}

.topic h1 {
    text-align: start;
}

.search-icon {
    text-align: end;
    font-size: 1.5rem;
    width: 100%;
}

.pokemonList-container {

    width: 100%;
    margin-top: 3rem;
}


.pokemon-list {

    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;

} 

/* Set responsive for pokemon list for small screen device */

@media only screen 
  and (max-width: 570px) {
    .pokemon-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen 
  and (max-width: 320px) {
    .pokemon-list {
        grid-template-columns: 1fr;
    }
}

.pokemonListBtn {

    color: hsl(0, 0%, 0%);
    /* background-color: hsl(220, 14%, 84%); */
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    border: 0;
    text-align: start;
    padding: 0 1rem 0 1rem;

} 

.pokemonListBtn:hover {
    background: #C9FFBF;
    background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
    background: linear-gradient(to right, #FFAFBD, #C9FFBF);

} 


.pokemon-detail {

    width: 100%;
    height: 10rem;
    position: absolute;
    background-color: hsl(0, 88%, 45%);

}

/* Pokemon info in Modal  */


.pokemonHeight {
    color: hsl(0, 0%, 0%);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;
}

.pokemonType {

    color: hsl(0, 0%, 0%);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}


.pokemonProfileImg {

    height: 10rem;
    margin-left: auto;
    display: flex;
    margin-right: auto;
}