* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}

body {
    font-family: "Inter", sans-serif;
    text-align: center;
}

.pokemon-container {
    margin: 3rem;
    padding: 2rem;
    border: 2px solid #777;
}

.topic {

    display: inline-flex;
    align-items: baseline;
    width: 100%;
}

.topic h1 {
    text-align: start;
}

.search-icon {
    text-align: end;
    font-size: 1.5rem;
    width: 100%;
}

.pokemonList-container {

    width: 100%;
}


.pokemon-list {

    justify-content: center;
    list-style-type: none;
    width: 100%;

}

.button-class {

    background-color: hsl(220, 14%, 84%);
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    border: 0;
    text-align: start;
    padding: 0 1rem 0 1rem;

}

.button-class:hover {
    background: #C9FFBF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFAFBD, #C9FFBF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.pokemon-detail {

    width: 100%;
    height: 10rem;
    position: absolute;
    background-color: hsl(0, 88%, 45%);

}


/* Modal show more pokemon detail  */



#modal-container {

    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* to show it above other content */
    z-index: 999;
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto;
    /* this is used to center the modal */
    display: grid;
    text-align: center;
}



.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 2rem;
    width: 100%;
    max-width: 700px;
    height: max-content;
    text-align: left;
}

.modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: none;
    font-weight: 600;
}

.modal-close:hover {
    color: tomato;
}

.modal h1 {
    margin-top: 0;
}

.modal p {
    margin-bottom: 0;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    display: block;
}

/* Pokemon info in Modal  */

.pokemonName {}

.pokemonHeight {
    color: rgb(54, 124, 124);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;
}

.pokemonType {

    color: #245cb1;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

.imgProfielContainer {
    background-color: #226915;
    width: 100%;
    height: 10rem;
    display: flex;

}

.pokemonProfileImg {

    height: 10rem;
    margin-left: auto;
    display: flex;
    margin-right: auto;
}