/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 5 version
*/

* {
    margin: 0;
    padding: 0%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

}

body {
    font-family: "Inter", sans-serif;
    text-align: center;
}

.pokemon-container {
    margin: 3rem;
    padding: 2rem;
    border: 2px solid #777;
}

.topic {

    display: -webkit-inline-box;

    display: -ms-inline-flexbox;

    display: inline-flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}

.topic h1 {
    font-size: 4rem;
   
}

.search-icon {
    text-align: end;
    font-size: 1.5rem;
    width: 100%;
}

.pokemonList-container {

    width: 100%;
    margin-top: 3rem;
}


.pokemon-list {

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;

} 

/* Set responsive for pokemon list for small screen device */

@media only screen 
  and (max-width: 570px) {
    .pokemon-list {
        -ms-grid-columns: 1fr 1rem 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen 
  and (max-width: 320px) {
    .pokemon-list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

.pokemonListBtn {

    color: hsl(0, 0%, 0%);
    background-color: hsl(51, 86%, 66%);
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    border: 0;
    text-align: start;
    padding: 0 1rem 0 1rem;
    border: 2px dashed hsl(0, 0%, 0%);

} 

.pokemonListBtn:hover {
    background: #C9FFBF;
    background: -webkit-gradient(linear, left top, right top, from(#FFAFBD), to(#C9FFBF));
    background: -o-linear-gradient(left, #FFAFBD, #C9FFBF);
    background: linear-gradient(to right, #FFAFBD, #C9FFBF);

} 


.pokemon-detail {

    width: 100%;
    height: 10rem;
    position: absolute;
    background-color: hsl(0, 88%, 45%);

}

/* Pokemon info in Modal  */


.pokemonHeight {
    color: hsl(0, 0%, 0%);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;
}

.pokemonType {

    color: hsl(0, 0%, 0%);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;

}

.pokemonProfileImg {

    height: 10rem;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
}